html, body {
    padding: 0;
    margin: 0;
    background-color: #2b303b;
}
* {
    box-sizing: border-box;
    font-family: 'Courier New', sans-serif;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #f9f9f9;
}

.section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 65px 0;
    column-gap: 35px;
}
.left {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}
.img {
    width: 150px;
    height: 150px;
    border-radius: 500px;
    background-image: url("/Profilbild.png");
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
}
.right {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
}
.sub-heading-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.line {
    background: #846D8F;
    width: 50px;
    height: 2px;
    margin-right: 22px;
}
.line-center {
    margin-right: auto;
    margin-left: auto;
}
.sub-heading {
    color: #846D8F;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 0.75;
    margin: 0;
}
.text-center {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 8px!important;
}
.heading {
    font-size: 29px;
    line-height: 1.3;
    margin-bottom: 30px;
    letter-spacing: .5px;
    color: #739A99;
}
.paragraph {
    line-height: 28px;
    font-weight: 500;
    color: #B2B6BD;
    margin-bottom: 25px;
}
.contact-block {
    width: 100%;
    height: 200px;
    background-color: #2f2f31;
    border: 1px solid #2b2b2d;
    padding: 30px 20px 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-left {
    width: 50%;
    height: 100%;
}
.col-right {
    width: 50%;
    height: 100%;
}
.profile-info {
    font-weight: 400;
    padding-left: 5px;
    color: #f9f9f9;
    line-height: 28px;
    font-size: 14px;
}
.social-p {
    line-height: 50px;
    font-weight: 500;
    color: #B2B6BD;
    margin-bottom: 10px;
}
.social-wrapper {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}
.social-a {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 25px;
}
.social-icon {
    height: 35px;
    cursor: pointer;
    margin-right: 8px;
}
.social-link {
    max-width: 0;
    height: 35px;
    overflow: hidden;
    color: #BF6165;
    margin-right: 15px;
    opacity: 0;
    transition: all 250ms ease-in-out;
}

#gitea_link.hover {
    max-width: 250px;
    opacity: 1;
    overflow: visible;
}
#linkedin_link.hover {
    max-width: 250px;
    opacity: 1;
    overflow: visible;
}
#wiki_link.hover {
    max-width: 250px;
    opacity: 1;
    overflow: visible;
}
#blog_link.hover {
    max-width: 190px;
    opacity: 1;
    overflow: visible;
}

@media (max-width: 768px) {

    .container {
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding: 35px 35px;
    }
    .left {
        justify-content: flex-start;
    }
    .img {
        margin-bottom: 35px;
    }
    .social-icon {
    }

}

@media (max-width: 479px) {

    .container {
        width: 100%;
        flex-direction: column;
        padding: 35px 35px;
    }
    .left {
        justify-content: center;
    }
    .contact-block {
        height: auto;
        flex-direction: column;
    }
    .col-left {
        width: 60%;
        justify-content: flex-start;
    }
    .col-right {
        width: 60%;
        justify-content: flex-start;
    }
    .social-icon {
        margin-right: 5px;
    }
    .social-link {
        margin-right: 5px;
    }
}

@media (max-width: 430px) {
    .col-left {
        width: 80%;
    }
    .col-right {
        width: 80%;
    }
}
@media (max-width: 340px) {
    .col-left {
        width: 100%;
    }
    .col-right {
        width: 100%;
    }
}


/*----------------------------------------------------------------Tech Stack------------------------------------------------------------------------*/

.tech {
    background-color: #1c212b;
}
.tech-container {
    display: block;
    width: 900px;
    padding: 65px 15px;
}
.tech-heading {
    width: 100%;
    font-size: 29px;
    line-height: 1.3;
    letter-spacing: .5px;
    color: #BF6165;
}
.m-t {
    margin-top: 80px;
}
.tech-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 60px;
    grid-row-gap: 25px;
    margin-top: 35px;
}
.tech-wrapper {
    width: 100%;
    height: auto;
}
.skill-heading {
    font-size: 29px;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: .5px;
    color: #739A99;
    transition: 200ms;
}
.link-heading:hover {
    color: #BF6165;
}
.tech-p {
    line-height: 28px;
    font-weight: 500;
    color: #B2B6BD;
    margin-top: 5px;
    margin-bottom: 5px;
}
.two {
    min-height: 56px;
}
.three {
    min-height: 84px;
}
.skill-line {
    width: 100%;
    height: 6px;
    background-color: #444;
}
.percentage {
    height: 100%;
    background-color: #846D8F;
}

@media (max-width: 768px) {
    .tech-container {
        padding: 65px 35px;
    }
}
@media (max-width: 700px) {
    .tech-container {
        padding: 65px 35px;
    }
    .tech-grid {
        grid-template-columns: 1fr;
    }
}

#java {
    width: 95%;
}

#python {
    width: 80%;
}

#c-sharp {
    width: 80%;
}

/*
#rust {
    width: 50%;
}
#c {
    width: 45%;
}
*/

#sql {
    width: 90%;
}

#react {
    width: 60%;
}

#nodejs {
    width: 85%;
}

/*
#yew {
    width: 45%;
}
*/

#javafx {
    width: 80%;
}

#wpf {
    width: 65%;
}

#docker {
    width: 95%;
}

#kubernetes {
    width: 70%;
}

#linux {
    width: 75%;
}

#windows {
    width: 70%;
}

/*----------------------------------------------------------------Stats------------------------------------------------------------------------*/

.section.stats {
    background-color: #151b26;
}
.container.stats {
    width: 1200px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.stats-block {
    position: relative;
    width: 380px;
    height: 300px;
    background-color: #1c212b;
    padding: 35px;
}
.stats-icon {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 180px;
    height: 180px;
    opacity: 0.06;
}
.stats-heading {
    color: #846D8F;
}
.stats-number {
    color: #739A99;
    font-size: 56px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}
.stats-line {
    background: #846D8F;
    width: 50px;
    height: 2px;
    margin-right: 22px;
    margin-bottom: 18px;
}
.right-arrow {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
}