/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html, body {
    padding: 0;
    margin: 0;
    background-color: #2b303b;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Courier New', sans-serif;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #f9f9f9;
}

.section {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.container {
    width: 43.75rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4.0625rem 0 4.6875rem;
    -webkit-column-gap: 2.1875rem;
       -moz-column-gap: 2.1875rem;
            column-gap: 2.1875rem;
}
.left {
    width: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.img {
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 31.25rem;
    background-image: url("/Profilbild.png");
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
}
.right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.sub-heading-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.line {
    background: #846D8F;
    width: 3.125rem;
    height: 0.125rem;
    margin-right: 1.375rem;
}
.line-center {
    margin-right: auto;
    margin-left: auto;
}
.sub-heading {
    color: #846D8F;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    font-size: 1.25rem;
    line-height: 0.75;
    margin: 0;
}
.text-center {
    text-align: center;
    margin-top: 0.3125rem;
    margin-bottom: 0.5rem
}
.heading {
    font-size: 1.8125rem;
    line-height: 1.3;
    margin-bottom: 1.875rem;
    letter-spacing: 0.0313rem;
    color: #739A99;
}
.paragraph {
    line-height: 1.75rem;
    font-weight: 500;
    color: #B2B6BD;
    margin-bottom: 1.5625rem;
}
.contact-block {
    width: 100%;
    height: 12.5rem;
    background-color: #2f2f31;
    border: 0.0625rem solid #2b2b2d;
    padding: 1.875rem 1.25rem 1.25rem;
    margin-bottom: 1.5625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.col-left {
    width: 50%;
    height: 100%;
}
.col-right {
    width: 50%;
    height: 100%;
}
.profile-info {
    font-weight: 400;
    padding-left: 0.3125rem;
    color: #f9f9f9;
    line-height: 1.75rem;
    font-size: 0.875rem;
}
.social-p {
    line-height: 3.125rem;
    font-weight: 500;
    color: #B2B6BD;
    margin-bottom: 0.625rem;
}
.social-wrapper {
    height: 2.5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: hidden;
}
.social-a {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 1.5625rem;
}
.social-icon {
    height: 2.1875rem;
    cursor: pointer;
    margin-right: 0.5rem;
}
.social-link {
    max-width: 0;
    height: 2.1875rem;
    overflow: hidden;
    color: #BF6165;
    margin-right: 0.9375rem;
    opacity: 0;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

#gitea_link.hover {
    max-width: 15.625rem;
    opacity: 1;
    overflow: visible;
}
#linkedin_link.hover {
    max-width: 15.625rem;
    opacity: 1;
    overflow: visible;
}
#wiki_link.hover {
    max-width: 15.625rem;
    opacity: 1;
    overflow: visible;
}
#blog_link.hover {
    max-width: 11.875rem;
    opacity: 1;
    overflow: visible;
}

@media (max-width: 48rem) {

    .container {
        height: 100%;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 2.1875rem 2.1875rem;
    }
    .left {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .img {
        margin-bottom: 2.1875rem;
    }
    .social-icon {
    }

}

@media (max-width: 29.9375rem) {

    .container {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 2.1875rem 2.1875rem;
    }
    .left {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .contact-block {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .col-left {
        width: 60%;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .col-right {
        width: 60%;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .social-icon {
        margin-right: 0.3125rem;
    }
    .social-link {
        margin-right: 0.3125rem;
    }
}

@media (max-width: 26.875rem) {
    .col-left {
        width: 80%;
    }
    .col-right {
        width: 80%;
    }
}
@media (max-width: 21.25rem) {
    .col-left {
        width: 100%;
    }
    .col-right {
        width: 100%;
    }
}


/*----------------------------------------------------------------Tech Stack------------------------------------------------------------------------*/

.tech {
    background-color: #1c212b;
}
.tech-container {
    display: block;
    width: 56.25rem;
    padding: 5.9375rem 0.9375rem 10.625rem;
}
.tech-heading {
    width: 100%;
    font-size: 1.8125rem;
    line-height: 1.3;
    letter-spacing: 0.0313rem;
    color: #BF6165;
}
.m-t {
    margin-top: 5rem;
}
.tech-grid {
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3.75rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 3.75rem;
    grid-row-gap: 1.5625rem;
    margin-top: 2.1875rem;
}
.tech-wrapper {
    width: 100%;
    height: auto;
}
.skill-heading {
    font-size: 1.8125rem;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.0313rem;
    color: #739A99;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}
.link-heading:hover {
    color: #BF6165;
}
.tech-p {
    line-height: 1.75rem;
    font-weight: 500;
    color: #B2B6BD;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}
.two {
    min-height: 3.5rem;
}
.three {
    min-height: 5.25rem;
}
.skill-line {
    width: 100%;
    height: 0.375rem;
    background-color: #444;
}
.percentage {
    height: 100%;
    background-color: #846D8F;
}

@media (max-width: 48rem) {
    .tech-container {
        padding: 4.0625rem 2.1875rem;
    }
}
@media (max-width: 43.75rem) {
    .tech-container {
        padding: 4.0625rem 2.1875rem;
    }
    .tech-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

#java {
    width: 95%;
}

#python {
    width: 80%;
}

#c-sharp {
    width: 80%;
}

/*
#rust {
    width: 50%;
}
#c {
    width: 45%;
}
*/

#sql {
    width: 90%;
}

#react {
    width: 60%;
}

#nodejs {
    width: 85%;
}

/*
#yew {
    width: 45%;
}
*/

#javafx {
    width: 80%;
}

#wpf {
    width: 65%;
}

#docker {
    width: 95%;
}

#kubernetes {
    width: 70%;
}

#linux {
    width: 75%;
}

#windows {
    width: 70%;
}
#english {
    width: 99%;
}
#writing {
    width: 80%;
}
#didaktik {
    width: 75%;
}

/*----------------------------------------------------------------Stats------------------------------------------------------------------------*/

.section.stats {
    padding: 6.25rem 0 5.3125rem;
    background-color: #151b26;
}
.container.stats {
    width: 75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
}
.stats-block {
    position: relative;
    width: 23.75rem;
    height: 18.75rem;
    background-color: #1c212b;
    padding: 2.1875rem;
}




.first-heading {
    opacity: 1!important;
    left: 2.1875rem;
}
.first-count {
    opacity: 1!important;
    left: 2.1875rem;
}
.second-heading {
    opacity: 0!important;
    left: 3.125rem;
}
.second-count {
    opacity: 0!important;
    left: 0.3125rem;
}
.stats-block:hover .first-heading {
    opacity: 0!important;
    left: 3.125rem;
}
.stats-block:hover .first-count {
    opacity: 0!important;
    left: 0.3125rem;
}

.stats-block:hover .second-heading {
    opacity: 1!important;
    left: 2.1875rem;
}
.stats-block:hover .second-count {
    opacity: 1!important;
    left: 2.1875rem;
}




.stats-icon {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    width: 11.25rem;
    height: 11.25rem;
    opacity: 0.06;
}
.stats-heading {
    position: absolute;
    top: 6.875rem;
    left: 2.1875rem;
    color: #846D8F;
    -webkit-transition: opacity 350ms ease-out, left 500ms ease-out;
    -o-transition: opacity 350ms ease-out, left 500ms ease-out;
    transition: opacity 350ms ease-out, left 500ms ease-out;
}
.stats-number {
    position: absolute;
    top: 2.1875rem;
    left: 2rem;
    color: #739A99;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1.25rem;
    -webkit-transition: opacity 350ms ease-out, left 500ms ease-out;
    -o-transition: opacity 350ms ease-out, left 500ms ease-out;
    transition: opacity 350ms ease-out, left 500ms ease-out;
}
.stats-line {
    position: absolute;
    top: 6.6875rem;
    left: 2.1875rem;
    background: #846D8F;
    width: 3.125rem;
    height: 0.125rem;
    margin-right: 1.375rem;
    margin-bottom: 1.125rem;
}
.right-arrow {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;
}
.tech-p.absolute {
    position: absolute;
    top: 10.625rem;
    left: 2.1875rem;
}
.stats-a {
    cursor: pointer;
}